<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  
<img src="/Assets/images/home.jpg" alt="logo" height="100%" width="100%" style="position:absolute; left:0; top:0; z-index:-1;">
  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <center><img src="/Assets/images/survey.jpg" alt="teamsevenlogo"/></center>
            <center><h1 class="display-4">Welcome to Course Evaluation - Survey Site</h1></center>   
      
    </div>
  </main>
 
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




